@charset "UTF-8";

/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 10px;
}

input,
button,
textarea {
    font-family: inherit;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    background-color: black !important;
}

body.lock {
    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* MIXINS AND VARS */

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* _CONTAINER */

._container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* FONTS */

@font-face {
    font-family: 'Gotham-bold';
    src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-book';
    src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-medium';
    src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* MODIFIER */

._color-white {
    color: white;
}

._color-black {
    color: black;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* BLOCKS OF INDIVIDUAL ELEMENTS */

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* MAINS-BLOCKS */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
    z-index: 10;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: -1000%;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 5;
}

.header.active:after {
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 5;
}

.header.bg:before {
    background-color: rgba(0, 0, 0, 0.5);
}

.header .menu__icon {
    display: block;
    z-index: 6;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
}

.header .menu__icon.active span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header .menu__icon.active span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
}

.header .menu__icon.active span:nth-child(2) {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.header .menu__icon.active span:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 10px;
}

.header .menu__icon span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header .menu__icon span:first-child {
    top: 0;
}

.header .menu__icon span:nth-child(2) {
    top: 9px;
}

.header .menu__icon span:last-child {
    bottom: 0;
}

.header .menu__logo {
    position: relative;
    z-index: 6;
    display: inline-block;
}

.header .menu__logo img {
    max-width: 100%;
    display: block;
}

.header .menu__body {
    position: relative;
}

.header .menu__list {
    display: block;
    position: relative;
    z-index: 5;
    margin-top: 120px;
}

.header .menu__label {
    margin: 20px 0 0 15px;
}

.header .menu__label a {
    font-family: Myriad Pro, serif;
    font-size: -webkit-calc(22px + -2 * ((100vw - 320px) / 840));
    font-size: calc(22px + -2 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.header .menu__label_font img {
    height: 20px;
    width: 15px;
}

.header .menu__label_font img:first-child {
    width: 10px;
    height: 20px;
}

.footer {
    background-color: #222222;
}

.footer__body {
    height: 100%;
    padding: 20px 0;
}

.footer__item {
    text-align: center;
}

.footer__line {
    font-family: Roboto;
    line-height: 2.77;
    letter-spacing: 0.26px;
    font-size: -webkit-calc(13px + 0 * ((100vw - 320px) / 840));
    font-size: calc(13px + 0 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.intro {
    position: relative;
}

.intro__photo img {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.intro__content {
    width: 100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.intro__title {
    font-family: Gotham-bold;
    letter-spacing: -7.55px;
    font-size: -webkit-calc(50px + 100 * ((100vw - 320px) / 840));
    font-size: calc(50px + 100 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.intro__subtitle {
    font-family: Gotham-medium;
    line-height: 2;
    display: block;
    width: 100%;
    letter-spacing: 17px;
    margin-left: 25px;
    font-size: -webkit-calc(12px + 13.5 * ((100vw - 320px) / 840));
    font-size: calc(12px + 13.5 * ((100vw - 320px) / 840));
    color: #11749e;
    text-transform: uppercase;
}

.block {
    padding: 7rem 0 9rem 0;
}

.block._block-bg__blue {
    background-color: #11749e;
}

.block .cards {
    width: 100%;
    height: 100%;
}

.block .cards__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.block .cards__col_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    margin-bottom: 20px;
}

.block .cards-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
}

.block .cards-item__img {
    position: relative;
}

.block .cards-item__img img {
    display: block;
    max-width: 100%;
}

.block .cards-item__title {
    font-family: Gotham-medium;
    line-height: 2;
    text-align: center;
    margin-bottom: 15px;
    font-size: -webkit-calc(15px + 2 * ((100vw - 320px) / 840));
    font-size: calc(15px + 2 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.block .cards-item__text {
    font-family: Gotham-medium;
    line-height: 1.6;
    text-align: center;
    font-size: -webkit-calc(15px + 0 * ((100vw - 320px) / 840));
    font-size: calc(15px + 0 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.block-1 .cards-item__img {
    width: 133px;
    height: 133px;
    background-color: #2e85aa;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px auto;
}

.block-1 .cards-item__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-1 .cards-item__title {
    font-family: Gotham-medium;
    line-height: 2;
    text-align: center;
    margin-bottom: 15px;
    font-size: -webkit-calc(15px + 3 * ((100vw - 320px) / 840));
    font-size: calc(15px + 3 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.block-1 .cards-item__text {
    font-family: Gotham-medium;
    line-height: 1.6;
    text-align: center;
    font-size: -webkit-calc(15px + 0 * ((100vw - 320px) / 840));
    font-size: calc(15px + 0 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.block-2 .content-block__letter,
.block-2 .content-block__text,
.block-2 .content-block__additText {
    color: black;
}

.block-2 .cards__row {
    margin: 0 -20px;
}

.block-2 .cards-item {
    padding: 20px;
}

.block-2 .cards-item__img {
    background-color: #808080;
    position: relative;
    margin: 0 auto 10px auto;
}

.block-2 .cards-item__img img {
    display: block;
}

.block-2 .cards-item__content {
    width: 210px;
    padding: 20px 25px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-2 .cards-item__title {
    color: #11749e;
    margin-bottom: 0;
}

.block-2 .cards-item__text {
    color: black;
}

.feature__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.feature__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #222222;
}

.feature__col-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    background-color: #f3f3f3;
}

.feature__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}

.comment {
    background-color: #11749e;
    padding: 15rem 0;
}

.comment__cards {
    width: 100%;
    height: 100%;
}

.comment .cards__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.comment .cards__col_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.comment .cards .card-item {
    display: block;
    padding: 0 30px;
}

.comment .cards .card-item__img img {
    display: block;
    width: 69px;
    height: 69px;
}

.comment .cards .card-item__text {
    font-family: Gotham-medium;
    line-height: 1.6;
    text-align: left;
    font-size: -webkit-calc(15px + 0 * ((100vw - 320px) / 840));
    font-size: calc(15px + 0 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.about {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
}

.about .cards {
    width: 100%;
    height: 100%;
}

.about .cards__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about .cards__col_2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.about .cards .card-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.about .cards .card-item__img img {
    width: 100%;
}

.contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14rem 0;
}

.contact .feedback-contact__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact .feedback-contact input,
.contact .feedback-contact textarea {
    font-family: Gotham-book;
    line-height: 2.4;
    letter-spacing: 0.3px;
    font-size: -webkit-calc(13px + 2 * ((100vw - 320px) / 840));
    font-size: calc(13px + 2 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
    margin-bottom: 4rem;
    background-color: initial;
    border: solid 1px white;
    padding: 5px 20px;
}

.contact .feedback-contact input.feedback-contact__btn {
    margin: 0 auto;
    font-family: Gotham-bold;
    background-color: #11749e;
    border: none;
    padding: 0 6rem;
    font-size: -webkit-calc(18px + 6 * ((100vw - 320px) / 840));
    font-size: calc(18px + 6 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.contact .feedback-contact input::-webkit-input-placeholder,
.contact .feedback-contact textarea::-webkit-input-placeholder {
    color: white;
}

.contact .feedback-contact input::-moz-placeholder,
.contact .feedback-contact textarea::-moz-placeholder {
    color: white;
}

.contact .feedback-contact input:-ms-input-placeholder,
.contact .feedback-contact textarea:-ms-input-placeholder {
    color: white;
}

.contact .feedback-contact input::-ms-input-placeholder,
.contact .feedback-contact textarea::-ms-input-placeholder {
    color: white;
}

.contact .feedback-contact input::placeholder,
.contact .feedback-contact textarea::placeholder {
    color: white;
}

.contact .feedback-contact__col-3 {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}

.contact .feedback-contact__full {
    width: 100%;
    min-height: 150px;
}

.map {
    width: 100%;
    height: 332px;
    background-color: #222222;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* BLOCKS-PAGES */

.scroll-down {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.scroll-down__text {
    font-family: OpenSans;
    line-height: 1.69;
    font-size: -webkit-calc(17px + -4 * ((100vw - 320px) / 840));
    font-size: calc(17px + -4 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
    padding-bottom: 20px;
}

.scroll-down__btn {
    position: relative;
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 1px white;
    margin: 0 auto;
}

.scroll-down__btn img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.item-feature {
    width: 100%;
}

.item-feature__body {
    width: 500px;
}

.item-feature__data {
    display: inline-block;
    margin-bottom: 10px;
}

.item-feature__data li {
    display: inline-block;
    margin-right: 20px;
}

.item-feature__data li:last-child {
    margin-right: 0;
}

.item-feature__data li:last-child a:before {
    height: 0;
}

.item-feature__data span {
    color: white;
}

.item-feature__data a {
    font-family: Gotham-book;
    line-height: 1.85;
    font-size: -webkit-calc(13px + 0 * ((100vw - 320px) / 840));
    font-size: calc(13px + 0 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
    position: relative;
}

.item-feature__data a:before {
    content: "";
    width: 1px;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.item-feature__title {
    font-family: Gotham-medium;
    font-weight: 500;
    line-height: 1.44;
    margin-bottom: 4rem;
    font-size: -webkit-calc(15px + 10 * ((100vw - 320px) / 840));
    font-size: calc(15px + 10 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.item-feature__text {
    font-family: Gotham-medium;
    line-height: 1.6;
    font-size: -webkit-calc(12px + 3 * ((100vw - 320px) / 840));
    font-size: calc(12px + 3 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.item-feature__advantages {
    margin-top: 8rem;
}

.item-feature__line {
    margin-bottom: 25px;
}

.item-feature__line:last-child {
    margin-bottom: 0;
}

.item-feature__label {
    background-color: #11749e;
}

.item-feature__label span {
    display: block;
    font-family: Gotham-medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    padding: 7px 15px;
    font-size: -webkit-calc(12px + 3 * ((100vw - 320px) / 840));
    font-size: calc(12px + 3 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.item-feature__label-1 {
    width: 90%;
}

.item-feature__label-2 {
    width: 95%;
}

.item-feature__label-3 {
    width: 100%;
}

.item-feature__img img {
    display: block;
    width: 100%;
    height: 100%;
}

.item-feature__data-reverse a {
    color: black;
}

.item-feature__title-reverse,
.item-feature__text-reverse {
    color: black;
}

.content-block__body {
    position: relative;
    margin-bottom: 60px;
}

.content-block__letter {
    opacity: 0.18;
    font-weight: bold;
    font-stretch: condensed;
    line-height: 0.87;
    text-align: center;
    font-size: -webkit-calc(100px + 147 * ((100vw - 320px) / 840));
    font-size: calc(100px + 147 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

.content-block__text {
    font-family: Gotham-medium;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    font-size: -webkit-calc(15px + 22.5 * ((100vw - 320px) / 840));
    font-size: calc(15px + 22.5 * ((100vw - 320px) / 840));
    color: white;
    text-transform: uppercase;
}

.content-block__additText {
    font-family: Gotham-medium;
    line-height: 1.23;
    text-align: center;
    font-size: -webkit-calc(15px + 15 * ((100vw - 320px) / 840));
    font-size: calc(15px + 15 * ((100vw - 320px) / 840));
    color: white;
    text-transform: none;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 601px) {
    .footer__item {
        margin-bottom: 8px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer__img {
        margin-bottom: 8px;
    }

    .comment .cards .card-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .comment .cards .card-item__img {
        margin-right: 30px;
    }
}

@media (min-width: 770px) {
    .contact .content-block__text {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .content-block__text {
        position: absolute;
        top: 32%;
        left: 0;
    }
}

@media (min-width: 992px) {
    .header .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 80px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header .menu__icon {
        display: none;
    }

    .header .menu__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
    }

    .header .menu__label {
        margin: 0 20px 0 0;
    }

    .header .menu__label:last-child {
        margin: 0;
    }

    .footer {
        height: 96px;
    }

    .feature__col-reverse .item-feature__img {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .feature__item {
        width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    }

    .contact .feedback-contact__col-3 {
        width: 32%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 32%;
        -ms-flex: 0 1 32%;
        flex: 0 1 32%;
    }

    .item-feature__line {
        width: 428px;
        max-width: 100%;
    }

    .item-feature__label span {
        width: 428px;
        max-width: 100%;
    }
}

@media (min-width: 1025px) {
    .feature__col-reverse .item-feature {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .item-feature {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .item-feature__body {
        margin: 9rem 11rem 11rem;
    }
}

@media (min-width: 1160px) {
    .header .menu__label a {
        font-size: 20px;
    }

    .footer__line {
        font-size: 13px;
    }

    .intro__title {
        font-size: 150px;
    }

    .intro__subtitle {
        font-size: 25.5px;
    }

    .block .cards-item__title {
        font-size: 17px;
    }

    .block .cards-item__text {
        font-size: 15px;
    }

    .block-1 .cards-item__title {
        font-size: 18px;
    }

    .block-1 .cards-item__text {
        font-size: 15px;
    }

    .comment .cards .card-item__text {
        font-size: 15px;
    }

    .contact .feedback-contact input,
    .contact .feedback-contact textarea {
        font-size: 15px;
    }

    .contact .feedback-contact input.feedback-contact__btn {
        font-size: 24px;
    }

    .scroll-down__text {
        font-size: 13px;
    }

    .item-feature__data a {
        font-size: 13px;
    }

    .item-feature__title {
        font-size: 25px;
    }

    .item-feature__text {
        font-size: 15px;
    }

    .item-feature__label span {
        font-size: 15px;
    }

    .content-block__letter {
        font-size: 247px;
    }

    .content-block__text {
        font-size: 37.5px;
    }

    .content-block__additText {
        font-size: 30px;
    }
}

@media (max-width: 1401px) {
    html {
        font-size: 5px;
    }
}

@media (max-width: 1281px) {
    .comment .cards .card-item__img img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1280px) {
    .intro__subtitle {
        margin-left: 0;
    }
}

@media (max-width: 1201px) {
    .block .cards__col_2 {
        width: 33.333%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 33.333%;
        -ms-flex: 0 1 33.333%;
        flex: 0 1 33.333%;
    }
}

@media (max-width: 1025px) {
    .block-2 .cards__row {
        margin: 0 -10px;
    }

    .block-2 .cards-item {
        padding: 0 10px;
    }

    .comment {
        padding: 5rem 0;
    }

    .comment .cards__row {
        margin: 0 -15px;
    }

    .comment .cards .card-item {
        padding: 0 15px;
    }

    .about {
        padding: 5rem 0;
    }

    .contact {
        padding: 5rem 0;
    }

    .contact .feedback-contact input,
    .contact .feedback-contact textarea {
        padding: 5px 10px;
    }
}

@media (max-width: 992px) {
    .header .menu__label_font {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 20%;
        margin-left: 0;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header .menu__label_font img {
        height: 30px;
        width: 30px;
    }

    .intro__title {
        letter-spacing: 0px;
    }

    .intro__subtitle {
        letter-spacing: 10px;
    }

    .block {
        padding: 0;
    }

    .feature__col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .about .cards .card-item__img {
        display: none;
    }

    .item-feature__body {
        width: 100%;
        margin: 15px;
    }

    .item-feature__img {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .content-block__body {
        margin-bottom: 30px;
    }

    .content-block__text {
        padding-top: 30px;
    }

    .content-block__additText {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .header .menu__body {
        overflow: auto;
        position: fixed;
        left: -1000px;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        transition: all .5s ease 0s;
    }

    .header .menu__body.active {
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        left: 0;
    }
}

@media (max-width: 860px) {
    .block .cards__col_2 {
        width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .comment .cards__col_2 {
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin-bottom: 30px;
    }

    .comment .cards__col_2:last-child {
        margin-bottom: 0;
    }

    .contact .feedback-contact input.feedback-contact__btn {
        width: 100%;
        padding: 0 15px;
    }

    .content-block__letter {
        display: none;
    }
}

@media (max-width: 601px) {
    .footer li {
        padding: 10px 0;
    }
}

@media (max-width: 600px) {
    .block .cards__col_2 {
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }

    .comment .cards .card-item__img {
        margin-bottom: 20px;
    }

    .comment .cards .card-item__img img {
        margin: 0 auto;
    }

    .comment .cards .card-item__text {
        text-align: center;
    }

    .about .cards__col_2 {
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}